.nav-links {
   display: none;
}
.contacts {
   display: none;
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header {
   position: relative;
   background-color: var(--white-color);
   padding-top: 10px;
   padding-bottom: 10px;
}

.mobile-menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;

   background-color: var(--white-color);
   overflow: auto;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.mobile-menu.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}
.mobile-menu-btn {
   background-color: transparent;
   line-height: 0;
}
.mobile-menu-btn__icon {
   fill: var(--primary-color);
}
.mobile-menu__close-btn {
   position: absolute;
   display: flex;
   top: 10px;
   right: 15px;
   background-color: transparent;
   line-height: 0;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover {
   fill: var(--accent-color);
}
.mobile-menu__link {
   font-weight: 500;
   @include font-size-height(40px, 1.18);

   color: var(--primary-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:focus {
   color: var(--accent-color);
}
.mobile-menu-contacts__phone-number {
   font-weight: 500;
   @include font-size-height(34px, 1.18);
   letter-spacing: 0.02em;
   color: var(--accent-color);
}
.mobile-menu-contacts__mail {
   font-weight: 500;
   @include font-size-height(24px, 1.17);
   letter-spacing: 0.02em;
   color: var(--secondary-color);
}
.social-media-list {
   display: flex;
   align-items: center;
}
.social-media-list__item:not(:last-child) {
   margin-right: 20px;
}
.social-media-list__item {
   font-weight: 500;
   @include font-size-height(18px, 1.22);
   letter-spacing: 0.02em;
}
.social-media-list__link {
   color: var(--accent-color);
}
.mobile-menu__list {
   margin-bottom: 306px;
}
.mobile-menu__item:not(:last-child) {
   margin-bottom: 32px;
}
.mobile-menu-contacts__item:not(:last-child) {
   margin-bottom: 32px;
}
.mobile-menu-contacts {
   margin-bottom: 64px;
}
.mobile-menu__container {
   position: relative;
   padding-top: 48px;
   padding-bottom: 48px;
}
// .header__container {
//    display: flex;
//    justify-content: space-between;
// }
// .header {
//    background-color: var(--white-color);
//    border-bottom: 1px solid #ececec;
// }
// .nav-links {
//    display: flex;

//    &__item + &__item {
//       margin-left: 50px;
//    }

//    &:current {
//       color: var(--accent-color);
//    }

//    &__link {
//       padding: 32px 0;
//       display: block;
//       font-weight: 500;
//       @include font-size-height(14px, 1.14);
//       letter-spacing: 0.02em;
//       color: var(--primary-color);

//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//    }
// }

// .contacts {
//    display: flex;

//    &__item:not(:last-child) {
//       margin-right: 50px;
//    }

//    &__link {
//       display: flex;
//       padding: 32px 0;
//       display: block;
//       font-weight: 500;
//       @include font-size-height(14px, 1.14);
//       letter-spacing: 0.02em;
//       color: var(--primary-color);

//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       color: var(--secondary-color);
//    }
// }

// .page-nav {
//    display: flex;
//    align-items: center;
// }

// .nav-links__link:hover,
// .nav-links__link:focus {
//    color: var(--accent-color);
//    fill: var(--accent-color);
// }
// .contacts__link {
//    display: flex;
//    align-items: center;

//    &:hover,
//    &:focus {
//       color: var(--accent-color);
//       fill: var(--accent-color);
//    }
// }
// .contacts__icon {
//    display: flex;

//    margin-right: 10px;

//    fill: var(--secondary-color);
//    color: var(--secondary-color);
//    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//    &:hover,
//    &:focus {
//       color: var(--accent-color);
//       fill: var(--accent-color);
//    }

//    .contacts__link:focus &,
//    .contacts__link:hover & {
//       fill: var(--accent-color);
//    }
// }
// .current-link {
//    color: var(--accent-color);
// }
// .hover-line::after {
//    display: block;
//    content: '';

//    width: 100%;
//    height: 4px;

//    background-color: #2196f3;
//    border-radius: 2px;
// }
