.hero__title {
   @include font-size-height(26px, 1.62);
   font-weight: 900;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
   margin: 0 auto;
   width: 360px;
   height: 84px;
}

.hero {
   background-color: var(--header-footer-background-color);
   text-align: center;
   padding: 118px 60px;
   background-image: linear-gradient(
         to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url('/img/retina-img/background-img.jpg');
   max-width: 480px;
   min-height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
@media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
         ),
         url('/img/retina-img/background-img@2x.jpg');
      padding: 118px 0;
      max-width: 480px;
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
   }
}
@media screen and (min-width: 768px) {
   .hero {
      background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
         ),
         url('/img/background-img-tablet.jpg');
      max-width: 768px;
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
   }
   @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
            ),
            url('/img/background-img-tablet@2x.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         margin: 0 auto;
      }
   }
   @media screen and (min-width: 1200px) {
      .hero__title {
         @include font-size-height(44px, 1.36);
         margin: 0 auto;
         width: 696px;
         height: 120px;
      }

      .hero {
         background-color: var(--header-footer-background-color);
         text-align: center;
         padding: 200px 0;
         background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
            ),
            url('/img/backgroung-img.jpg');
         max-width: 1600px;
         min-height: 600px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         margin: 0 auto;
      }
      @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         .hero {
            background-image: linear-gradient(
                  to right,
                  rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)
               ),
               url('/img/background-img-desktop@2x.jpg');
         }
      }
   }
}
